.section-case {
  position: relative;
}

.section-case h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: var(--write-azul);
}

.section-case h4 {
  color: var(--write-amarelo);
}

.section-cases {
  padding-bottom: 125px;
}

.content-cases img {
  height: 62px;
  width: auto;
  margin-bottom: 44px;
}

.content-cases h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 35px;
  margin-bottom: 45px;
}